﻿<div style="margin:10px auto;padding:10px;border:2px solid #ccc; font-family:Arial;font-size:12px;">
  <div style="margin-bottom: 10px; padding-bottom: 7px;">
    <img src="http://www.grape-vine.com/images/logo.png" alt="GrapeVine" />
  </div>
  <div style="background-color:#f6f6f6;padding:10px;moz-border:5px;border:1px solid #e5e5e5;">
    <br />
    Hi,<br />
    <br />
    I thought you might like this link I found on <a href="http://www.grape-vine.com">GrapeVine</a>.
    <a href="%@" target="_blank">Click here</a> to check it out!<br /><br/>
    Or, find out what else they've heard you might like at <a href="http://www.grape-vine.com">GrapeVine:</a> Your trusted source for recommended events in your community!<br />
    <br />
    Sincerely,<br />
    %@ %@
    <br/>
    <br/>
    GrapeVine is currently being offered in Rhode Island, Columbus, OH, and New York City. If you want more information about bringing GrapeVine to a city near you, please email us at <a href="mailto:info@grape-vine.com">info@grape-vine.com</a>
  </div>
</div>
